{% if 'ladies moms babies apothecary' contains collection_handle %}
{% assign submenus = "apparel-tops,apparel-bottoms,apparel-dresses,apparel-infants,apparel-toddlers,toys,apparel," | append: collection_handle | split: ',' %}
{% assign current_level = -1 %}
<div id="collection-menu" class="fl" data-current-section="{{ collection_handle }}{% if current_tags %}-{{ current_tags | join '-' }}{% endif %}">
	<nav class="font--bg-reg">
		{% for submenu in submenus %}
			{% assign ll-handle = collection_handle | append: '-' | append: submenu %}
			{% assign parts = submenu | split: '-' %}
			{% if submenu == collection_handle %}{% assign level = -1 %}{% else %}{% assign level = parts | size | minus: 1 %}{% endif %}
			{% assign prev_level = level | minus: 1 %}
			{% unless linklists[ll-handle].empty? %}
				{% if current_level == -1 %}
					{% if submenu != collection_handle or parts.size == 1 %}<ul data-level="{{ collection_handle }}">{% endif %}
				{% endif %}
				{% if parts.size > 1 %}
					{% if current_level == level %}</li><li><button>{{ parts[level] | capitalize }}</button><ul data-level="{{ parts[level] }}">{% endif %}
					{% if current_level < prev_level %}<li><button>{{ parts[prev_level] | capitalize }}</button><ul data-handle="{{ parts[prev_level] }}">{% endif %}
					{% if current_level < level %}<li><button>{{ parts[level] | capitalize }}</button><ul data-handle="{{ parts[level] }}">{% endif %}
					{% if current_level > level %}</li>{% endif %}
				{% endif %}
				{% for link in linklists[ll-handle].links %}
				<li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
				{% endfor %}
				</ul>
				{% assign current_level = level %}
			{% endunless %}
		{% endfor %}
	</nav>
</div>
{% if template == 'product' %}
{% assign collection_tags = product.tags %}
{% else %}
{% assign collection_tags = current_tags %}
{% endif %}
<script>
	jQuery(document).ready(function() {
		jQuery('#collection-menu').on('click', 'button', function(e) {
			var link = jQuery(this).siblings('ul').find('a').first();
			if (link.length > 0) location = link.attr('href');
		});
		{% if collection_tags %}
		var tags_text = '{{ collection_tags | join: ',' | replace: ' ', '-' | downcase }}';
		var unscape = document.createElement('span');
		unscape.innerHTML = tags_text;
		var tags = unscape.textContent.split(',');
		for (var i in tags) {
			jQuery('#collection-menu').find('a').filter(function() {
				return this.textContent.toLowerCase().replace(/ /g, '-') === tags[i];
			}).addClass('selected').parents('ul,li').css('display','block').addClass('selected');
		}
		{% endif %}
	});
</script>
{% endif %}
