<ul class="root" data-level="0">
  {% for link in linklists.main-menu.links %}
	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
  {% endfor %}
	<li><a href="{{ collections.sale.url }}">{{ collections.sale.title }}</a></li>
</ul>
{% assign roots = 'ladies,moms,babies,apothecary' | split: ',' %}
{% assign submenus = "apparel-tops,apparel-bottoms,apparel-dresses,apparel-infants,apparel-toddlers,apparel,ladies,moms,babies,apothecary" | split: ',' %}
{% for submenu in submenus %}{% for root in roots %}
	{% assign ll-handle = root | append: '-' | append: submenu %}
	{% assign level = submenu | split: '-' | size | plus: 1 %}
	{% if submenu == root %}
	{% assign level = 1 %}
	{% endif %}
	{% unless linklists[ll-handle].empty? %}
	<ul class="submenu" data-level="{{ level }}" data-root="{{ root }}" data-submenu="{% if level == 1 %}root{% else %}{{ submenu }}{% endif %}">
		<li><a class="back" href="#">back to </a></li>
		{% for link in linklists[ll-handle].links %}
		<li><a href="{{ link.url }}">{{ link.title }}</a></li>
		{% endfor %}
	</ul>
	{% endunless %}
{% endfor %}{% endfor %}
