<div id="collection">
	<aside id="title-and-menu" class="fl">
		<h1 class="collection-title">{{ collection.title }}</h1>
		{% include 'collection-menu' %}
		{% if collection.handle != 'sale' %}<a class="sale-button" href="{{ collections.sale.url }}"><img src="{{ 'sale-sign-left.png' | asset_url }}" alt="On Sale"></a>{% endif %}
	</aside>
	<section id="collection-main" class="fr">
		{% if 'ladies moms babies apothecary' contains collection.handle %}
			<img src="{{ 'collection-' | append: collection.handle | append: '.jpg' | asset_url }}" alt="">
		{% endif %}
		<div id="collection-products">
			{% paginate collection.products by settings.pagination_limit %}
			{% if collection.products.size == 0 %}
				<p><br>Sorry, there are no products to show in <strong>{{ collection.title }}{% if current_tags %} ({{ current_tags | join:' + ' | replace: '-', ' ' }}){% endif %}</strong>.</p>
			{% else %}
				{% for product in collection.products %}
					{% include 'product-loop' with collection.handle %}
				{% endfor %}
			{% endif %}
		</div>
		{% include 'pagination' %}
		{% endpaginate %}
	</section>
</div>
